
<table class="table table-striped">
  <thead>
        <tr>
      <th>Имя</th>
      <th>Телефон</th>
      <th>Дата Записи</th>
      <th>Мастер</th>
      <th>Цвет</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |row| %>
      <tr>
        <td><%= row['Username'] %></td>
        <td><%= row['Phone'] %></td>
        <td><%= row['DateStamp'] %></td>
        <td><%= row['Barber'] %></td>
        <td><%= row['Color'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>